In [1]:
pip install chardet

Requirement already satisfied: chardet in c:\users\admin\anaconda3\lib\site-packages (4.0.0)
Note: you may need to restart the kernel to use updated packages.

# Project Title:
Fake News Detection Using Text Classification

# 1.  Problem Statement:
The spread of fake news on social media and news outlets has become a major issue affecting public opinion and even democracy. This project aims to build an AI model that can automatically detect whether a news article is real or fake based on its content, helping reduce misinformation online.


# 2.  Dataset Description:
# Classes:

 Fake News

 Real News (left)

 Real News (right) (can be separated as a third class)

# Features:

News title

News text

Subject

Source

Derived features (e.g., text length, sentiment score, keyword frequency)

# Labels:

Fake or Real (binary or multi-class, depending on how you split)

Number of Samples:

Over 40,000 articles

# Import Libaries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import pandas as pd

# Load both datasets
fake_df = pd.read_csv('Fake.csv')
true_df = pd.read_csv('True.csv')

# Label them
fake_df['label'] = 'FAKE'
true_df['label'] = 'REAL'

# Combine into one dataset
df = pd.concat([fake_df, true_df], ignore_index=True)

# Shuffle the combined dataset
df = df.sample(frac=1, random_state=42).reset_index(drop=True)

# Check that both labels exist
print(df['label'].value_counts())

# Print sample rows from each label
print("\n--- FAKE News Samples ---")
print(df[df['label'] == 'FAKE'].head())

print("\n--- REAL News Samples ---")
print(df[df['label'] == 'REAL'].head())

label
FAKE    23481
REAL    21417
Name: count, dtype: int64

--- FAKE News Samples ---
                                               title  \
0  Ben Stein Calls Out 9th Circuit Court: Committ...
3   OOPS: Trump Just Accidentally Confirmed He Le...
5   Paul Ryan Responds To Dem’s Sit-In On Gun Con...
6  AWESOME! DIAMOND AND SILK Rip Into The Press: ...
7  STAND UP AND CHEER! UKIP Party Leader SLAMS Ge...

                                                text          subject  \
0  21st Century Wire says Ben Stein, reputable pr...          US_News
3  On Monday, Donald Trump once again embarrassed...             News
5  On Wednesday, Democrats took a powerful stance...             News
6  President Trump s rally in FL on Saturday was ...  Government News
7  He s been Europe s version of the outspoken Te...        left-news

                date label
0  February 13, 2017  FAKE
3       May 22, 2017  FAKE
5      June 22, 2016  FAKE
6       Feb 19, 2017  FAKE
7        Mar 8, 2016  FAKE

--- REAL News Samples ---
                                               title  \
1  Trump drops Steve Bannon from National Securit...
2  Puerto Rico expects U.S. to lift Jones Act shi...
4  Donald Trump heads for Scotland to reopen a go...
8  North Korea shows no sign it is serious about ...
9  Trump signals willingness to raise U.S. minimu...

                                                text       subject  \
1  WASHINGTON (Reuters) - U.S. President Donald T...  politicsNews
2  (Reuters) - Puerto Rico Governor Ricardo Rosse...  politicsNews
4  GLASGOW, Scotland (Reuters) - Most U.S. presid...  politicsNews
8  WASHINGTON (Reuters) - The State Department sa...     worldnews
9   (This version of the story corrects the figur...  politicsNews

                  date label
1       April 5, 2017   REAL
2  September 27, 2017   REAL
4       June 24, 2016   REAL
8   December 13, 2017   REAL
9         May 4, 2016   REAL

In [3]:
df.head(5)

,title,text,subject,date,label
0,Ben Stein Calls Out 9th Circuit Court: Committ...,"21st Century Wire says Ben Stein, reputable pr...",US_News,"February 13, 2017",FAKE
1,Trump drops Steve Bannon from National Securit...,WASHINGTON (Reuters) - U.S. President Donald T...,politicsNews,"April 5, 2017",REAL
2,Puerto Rico expects U.S. to lift Jones Act shi...,(Reuters) - Puerto Rico Governor Ricardo Rosse...,politicsNews,"September 27, 2017",REAL
3,OOPS: Trump Just Accidentally Confirmed He Le...,"On Monday, Donald Trump once again embarrassed...",News,"May 22, 2017",FAKE
4,Donald Trump heads for Scotland to reopen a go...,"GLASGOW, Scotland (Reuters) - Most U.S. presid...",politicsNews,"June 24, 2016",REAL

In [4]:
df.shape

(44898, 5)

In [5]:
df.columns

Index(['title', 'text', 'subject', 'date', 'label'], dtype='object')

In [6]:
df.describe()

,title,text,subject,date,label
count,44898,44898,44898,44898,44898
unique,38729,38646,8,2397,2
top,Factbox: Trump fills top jobs for his administ...,,politicsNews,"December 20, 2017",FAKE
freq,14,627,11272,182,23481

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44898 entries, 0 to 44897
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    44898 non-null  object
 1   text     44898 non-null  object
 2   subject  44898 non-null  object
 3   date     44898 non-null  object
 4   label    44898 non-null  object
dtypes: object(5)
memory usage: 1.7+ MB

# Data Preprocessing

In [8]:
duplicates_all = df[df.duplicated()]
print(duplicates_all)

                                                   title  \
4106   Islamic State claims responsibility for Aden c...
5547   Turkey seeks life sentences for 60 ex-military...
5909   Highlights: The Trump presidency on March 31 a...
6382   Britain preparing to transfer 400 million poun...
6779   Israel ambassador asks to meet New Zealand pop...
...                                                  ...
44673  Kuwait says GCC to keep operating despite Qata...
44721  Syrian rebels say discussing evacuation from t...
44786  Russia may widen designation for media outlets...
44849  Senate tax bill stalls on deficit-focused 'tri...
44860  British PM May vows to stay as party plotters ...

                                                    text       subject  \
4106   CAIRO (Reuters) - Militant group Islamic State...     worldnews
5547   ISTANBUL (Reuters) - Sixty people including a ...     worldnews
5909   (Reuters) - Highlights of the day for U.S. Pre...  politicsNews
6382   LONDON (Reuters) - Britain is preparing to tra...     worldnews
6779   WELLINGTON (Reuters) - Israel s ambassador to ...     worldnews
...                                                  ...           ...
44673  DUBAI (Reuters) - Kuwait s deputy foreign mini...     worldnews
44721  BEIRUT (Reuters) - Syrian rebels in a pocket o...     worldnews
44786  MOSCOW (Reuters) - Russia may decide to design...     worldnews
44849  WASHINGTON (Reuters) - The U.S. Senate on Thur...  politicsNews
44860  LONDON (Reuters) - British Prime Minister Ther...     worldnews

                     date label
4106   November 29, 2017   REAL
5547   December 21, 2017   REAL
5909      March 31, 2017   REAL
6382   November 16, 2017   REAL
6779   December 27, 2017   REAL
...                   ...   ...
44673  December 27, 2017   REAL
44721  December 27, 2017   REAL
44786  December 21, 2017   REAL
44849  November 30, 2017   REAL
44860    October 6, 2017   REAL

[209 rows x 5 columns]

In [9]:
# drop duplicate data
df.drop_duplicates(inplace=True)
df.shape

(44689, 5)

In [10]:
# removes  Nan value .
df.dropna(inplace =True)

In [11]:
# show info.
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44689 entries, 0 to 44897
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    44689 non-null  object
 1   text     44689 non-null  object
 2   subject  44689 non-null  object
 3   date     44689 non-null  object
 4   label    44689 non-null  object
dtypes: object(5)
memory usage: 2.0+ MB

In [12]:
#  Nan Value in the dataframe
df.isnull().any().any()

False

In [13]:
#Count the nan value
df.isnull().sum().sum()

0

In [14]:
#Count Nan Value per coloumn
df.isnull().sum()

title      0
text       0
subject    0
date       0
label      0
dtype: int64

In [15]:
# nan value in this coloumn
nan_count = df['title'].isnull().sum()
print(nan_count)

0

In [16]:
title = df[['title']]
print(title)

                                                   title
0      Ben Stein Calls Out 9th Circuit Court: Committ...
1      Trump drops Steve Bannon from National Securit...
2      Puerto Rico expects U.S. to lift Jones Act shi...
3       OOPS: Trump Just Accidentally Confirmed He Le...
4      Donald Trump heads for Scotland to reopen a go...
...                                                  ...
44893  UNREAL! CBS’S TED KOPPEL Tells Sean Hannity He...
44894  PM May seeks to ease Japan's Brexit fears duri...
44895  Merkel: Difficult German coalition talks can r...
44896   Trump Stole An Idea From North Korean Propaga...
44897  BREAKING: HILLARY CLINTON’S STATE DEPARTMENT G...

[44689 rows x 1 columns]

In [17]:
missing = df.isnull().sum()
print("Missing values:\n", missing)

Missing values:
 title      0
text       0
subject    0
date       0
label      0
dtype: int64

In [18]:
df['title'].unique()

array(['Ben Stein Calls Out 9th Circuit Court: Committed a ‘Coup d’état’ Against the Constitution',
       'Trump drops Steve Bannon from National Security Council',
       'Puerto Rico expects U.S. to lift Jones Act shipping restrictions',
       ...,
       "PM May seeks to ease Japan's Brexit fears during trade visit",
       'Merkel: Difficult German coalition talks can reach a deal',
       ' Trump Stole An Idea From North Korean Propaganda Parody Account To Push His Stupid Wall (DETAILS)'],
      dtype=object)

In [20]:
import string

In [21]:
df['text'].unique()

array(['21st Century Wire says Ben Stein, reputable professor from, Pepperdine University (also of some Hollywood fame appearing in TV shows and films such as Ferris Bueller s Day Off) made some provocative statements on Judge Jeanine Pirro s show recently. While discussing the halt that was imposed on President Trump s Executive Order on travel. Stein referred to the judgement by the 9th Circuit Court in Washington state as a  Coup d tat against the executive branch and against the constitution.  Stein went on to call the Judges in Seattle  political puppets  and the judiciary  political pawns. Watch the interview below for the complete statements and note the stark contrast to the rhetoric of the leftist media and pundits who neglect to note that no court has ever blocked any Presidential orders in immigration in the past or discuss the legal efficacy of the halt or the actual text of the Executive Order.READ MORE TRUMP NEWS AT: 21st Century Wire Trump FilesSUPPORT OUR WORK BY SUBSCRIBING & BECOMING A MEMBER @21WIRE.TV',
       'WASHINGTON (Reuters) - U.S. President Donald Trump removed his chief strategist Steve Bannon from the National Security Council on Wednesday, reversing his controversial decision early this year to give a political adviser an unprecedented role in security discussions. Trump’s overhaul of the NSC, confirmed by a White House official, also elevated General Joseph Dunford, chairman of the Joint Chiefs of Staff and Dan Coats, the director of National Intelligence who heads all 17 U.S. intelligence agencies. The official said the change moves the NSC “back to its core function of what it’s supposed to do.” It also appears to mark a victory for national security adviser H.R. McMaster, who had told some national security experts he felt he was in a “battle to the death” with Bannon and others on the White House staff. Vice President Mike Pence said Bannon would continue to play an important role in policy and played down the shake-up as routine. “This is just a natural evolution to ensure the National Security Council is organized in a way that best serves the president in resolving and making those difficult decisions,” Pence said on Fox News.  Bannon said in a statement he had succeeded in returning the NSC back to its traditional role of coordinating foreign policy rather than running it. He cited President Barack Obama’s national security adviser, Susan Rice, for why he advocated a change. “Susan Rice operationalized the NSC during the last administration so I was put on NSC to ensure it was ‘de-operationalized.’ General McMaster has NSC back to its proper function,” he said. Trump’s White House team has grappled with infighting and intrigue that has hobbled his young presidency. In recent days, several other senior U.S. foreign policy and national security officials have said the mechanisms for shaping the Trump administration’s response to pressing challenges such as Syria, North Korea and Iran still were not in place.  Critics of Bannon’s role on the NSC said it gave too much weight in decision-making to someone who lacked foreign policy expertise. Bannon, who was chief executive of Trump’s presidential campaign in the months leading to his election in November, in some respects represents Trump’s “America First” nationalistic voice, helping fuel his anti-Washington fervor and pushing for the president to part ways at times with mainstream Republicans. Before joining the Trump administration, Bannon headed Breitbart News, a right-wing website. U.S. Representative Adam Schiff, ranking Democrat on the House of Representatives Intelligence Committee, called the shift in the NSC a positive step that will help McMaster “gain control over a body that was being politicized by Bannon’s involvement.” “As the administration’s policy over North Korea, China, Russia and Syria continues to drift, we can only hope this shake-up brings some level of strategic vision to the body,” he said. Bannon’s removal from the NSC was a potential setback for his sphere of influence in the Trump White House, where he has a voice in most major decisions. But a Trump confidant said Bannon remained as influential as ever. “He is still involved in everything and still has the full confidence of the president but to be fair he can only do so much stuff,” the confidant said, speaking on condition of anonymity. The White House official said Bannon was no longer needed on the NSC after the departure of Trump’s first national security adviser, Michael Flynn. Flynn was forced to resign on Feb. 13 over his contacts with Russia’s ambassador to the United States, Sergei Kislyak, prior to Trump taking office on Jan. 20. The official said Bannon had been placed on the NSC originally as a check on Flynn and had only attended one of the NSC’s regular meetings. The official dismissed questions about a power struggle between Bannon and McMaster, saying they shared the same world view. However, two current national security officials rejected the White House explanation, noting that two months have passed since Flynn’s departure. McMaster, they said, speaking on the condition of anonymity, also has dueled with Bannon and others over direct access to Trump; the future of deputy national security adviser K.T. McFarland, a former Fox News commentator; intelligence director Ezra Cohen-Watnick, a Flynn appointee; and other staffing decisions. Trump is preparing for his first face-to-face meeting on Thursday and Friday with Chinese President Xi Jinping with the threat of North Korea’s nuclear and missile programs a key component of their talks. Bannon’s seat on the NSC’s “principals’ committee,” a group that includes the secretaries of state, defense and other ranking aides, was taken by Rick Perry, who as energy secretary is charged with overseeing the U.S. nuclear weapons arsenal. ',
       '(Reuters) - Puerto Rico Governor Ricardo Rossello said on Wednesday he expected the federal government to waive the Jones Act, which would lift restrictions on ships that can provide aid to the island devastated by Hurricane Maria. He said he has been speaking with members of Congress from both parties who have supported an emergency waiver.  \xa0\xa0\xa0\xa0“We expect them to waive it,” Rossello said in an interview with CNN. He noted there was a seven-day waiver after Hurricane Irma, which was much less devastating to the island. \xa0\xa0\xa0 On Tuesday, the Trump administration said there was no need to waive shipping restrictions to help get fuel and supplies to storm-ravaged Puerto Rico, saying it would do nothing to address the island’s damaged ports, the main impediment to shipping. A waiver would allow Puerto Rico to get help not only from U.S. ships but from any ships that can bring aid. \xa0\xa0\xa0 “That is critical, particularly for fuel,” he said. “One of the considerations right now is the priority of getting fuel, diesel, gasoline, all across the island. Right now we have enough fuel. We’re limited by the transportation logistics, but at some point of course, getting fuel into the island is going to be critical so that we can have the major functions of telecoms, hospitals, water, to be running appropriately.” \xa0\xa0\xa0 The Jones Act requires that all goods shipped between U.S. ports be carried by American owned-and-operated ships. U.S. Senator John McCain asked acting Department of Homeland Security Secretary Elaine Duke on Tuesday to grant an emergency waiver of the law. He said that Puerto Rican residents would have to pay at least twice as much for food, drinking water and other supplies without the waiver. (This corrected version of the story fixes paragraph four to show the administration has not formally denied a waiver request). ',
       ...,
       'LONDON/TOKYO (Reuters) - British Prime Minister Theresa May will look to ease corporate Japan s worries about Brexit during a three-day visit to the country from Wednesday focused on progress on a bilateral trade deal for when Britain leaves the European Union. May s first trip to Japan as prime minister comes at a difficult moment, with Japanese attention focused on North Korea s Tuesday missile test and Britain s Brexit negotiators recently on the receiving end of sharp criticism from EU officials. May will lead a 15-strong business delegation, including Standard Life Investment (SLA.L) chief executive Keith Skeoch, and carmaker Aston Martin s CEO Andy Palmer, pitching Britain and Japan as the  perfect partners for the future . She will meet Japanese Prime Minister Shinzo Abe in Kyoto before traveling to Tokyo for an investment conference and banquet. May and Abe are due to speak publicly on Thursday following one-to-one talks.   My discussions with Prime Minister Abe will focus on how we can prepare the ground for an ambitious free trade agreement after Brexit, based on the EU-Japan agreement which I very much hope is nearing conclusion,  May said in a statement ahead of her departure. May will also discuss defense cooperation, describing Japan as  our closest security partner in Asia . She will become the first European leader to attend a meeting of Japan s National Security Council and will also visit its flagship helicopter carrier  Izumo  for a briefing with military officials. North Korea fired a ballistic missile over Japan s northern Hokkaido island into the sea early on Tuesday, prompting warnings to residents to take cover and drawing a sharp reaction from Abe. May also strongly condemned the launch. Japan s foreign ministry said the two leaders are expected to agree on the importance of China s role in ramping up pressure on North Korea. Japan has been unusually outspoken about its concerns that Britain s departure from the EU, which was decided by a public vote in 2016, could affect current and future Japanese investments in Britain. Britain is the second most important destination for Japanese investment after the United States, with firms like Nissan (7201.T), Toyota (7203.T) and Hitachi (6501.T) investing billions in carmaking, energy and transport.  During a visit to London by Abe in April, Britain said that Japanese companies had already invested over 40 billion pounds  ($52 billion) in the British economy. But Japan is also an important destination for British investment. Aston Martin said on Tuesday it will open an advanced product planning office next year in Japan to better understand the needs of Asian buyers and tap into new technologies.  The firm is hoping to boost demand from Japan and the United States partly as a way to mitigate against any risks from Brexit which could add costs and delays to the 15 percent of cars it currently sells into the European Union. Speaking ahead of May s visit, Japanese Deputy Chief Cabinet Secretary Yasutoshi Nishimura said Tokyo had to react to  a sense of crisis among businesses  over Brexit, and gather information about the British negotiating strategy. Britain has published a series of papers setting out how it wants to settle its divorce with the EU, and is pushing for talks to move on to discuss the future relationship between the two - something of critical importance to investors. But European Commission President Jean-Claude Juncker insisted on Tuesday that the new relationship could not be discussed until initial differences had been resolved, and the EU s chief negotiator Michel Barnier said on Monday he was concerned at the slow progress made so far. Japan s foreign ministry said Abe is expected to ask May to maintain transparency and predictability regarding Brexit so that any impact on corporate activity will be minimized - echoing concerns Abe expressed in April about a Brexit cliff-edge. May s spokeswoman said the prime minister would reiterate Britain s position that it is seeking to agree a time-limited Brexit transition period after March 2019 to avoid a sudden change in trading and regulatory conditions for businesses.   What they will discuss in private I can t pre-empt, but that is our position and she ll be setting that out if he (Abe) asks,  the spokeswoman said.  ($1 = 0.7724 pounds) ',
       'BERLIN (Reuters) - Chancellor Angela Merkel said German parties face a difficult task to bridge their differences in crunch coalition talks on Thursday, but she believes they can reach an agreement to work together in a new government.   We have very, very different positions,  she told reporters.  If it works - I think it can work - there can be a positive result at the end of today s negotiations. But this is a difficult task.  ',
       "Jesus f*cking Christ our President* is a moron. Not satisfied with simply wasting billions of taxpayer dollars on a border wall, The Donald wants it to be see-through too   not to preserve the view of scenery but because he s afraid people might be killed by gigantic sacks of drugs that are totally going to be thrown over it on a regular basis (thus negating his argument that the wall will somehow curb drug trafficking). As horrible as it sounds, when they throw the large sacks of drugs over, and if you have people on the other side of the wall, you don t see them they hit you on the head with 60 pounds of the stuff? It s over,  the President said aboard Air Force One Wednesday according to the official White House transcript.  As cray as that sounds, you need transparency through that wall. Trump says border wall with Mexico should be transparent so that people aren't killed when drug couriers throw 60-lbs. bags over it. pic.twitter.com/0GXJuHjPxs  Gregory Korte (@gregorykorte) July 13, 2017It s unclear if Trump actually said  cray  or if the White House stenographer made a typo, but the idea that we will be so beleaguered by so many flying 60-pound sacks of drugs that the border wall needs to be  transparent  is pretty  cray. Now, Trump could have argued that there are a number of reasons for  transparency    to see those dirty brownish people he hates coming, for instance. But he chose the dumb one that involves throwing a 60-pound bag of heroin over a 20-foot fence.Naturally, Americans find this hilarious:The bad hombres are very strong.  Juha (@juhasaarinen) July 14, 2017I imagined just this with  Acme  printed on the side.  TJ Shannon (@tjshannon13) July 14, 2017pic.twitter.com/43I0DR0lw8  Paul Vahamaa (@pvahamaa) July 14, 2017 a steel wall with openings  so that you can  see through that wall he knows he s describing a fence, right?  Tinz (@TinzRules) July 13, 2017Likelihood that Trump heard someone say  We need transparency on the building of the Wall  and didn t understand?  Patrick (@PatrickCragg) July 13, 2017Crushed by Giant Bag of Dope is pretty high on most people s Preferred Ways To Die list, I ve heard.  Just Dessert (@Love_CrimeDrama) July 13, 2017Crushed by Giant Bag of Dope was, in my opinion, Giant Bag of Dope s best album.  David J Britton (@Tyburn_Cross) July 13, 2017I want to meet the dealer that can toss a 60 lb bag over the wall or, do they use catapults?  nicefellow31 (@nicefellow31) July 13, 2017They prefer trebuchets, I m told.  Carly (@whatstudentloan) July 13, 2017The beauty of this, though, is if the bag misses your head  Hey! Free heroin!  Christopher Keelty (@keeltyc) July 13, 2017 Some areas that are so far away from the border? Some parts of the border are far away from the border? #wtf #cray  Matthew R. Kerns (@mattkerns) July 13, 2017So, these drug smugglers, they can toss 60 pound bags of coke over 20 foot walls, but can t climb a mountain?  High Quality Nephew (@JohnNephew) July 13, 2017 This piece of fence would be supes far away. You d have to be totes cray to cross there. So you fo sho don t need that.    def on fleek  Henkepotamus (@Henke2020) July 13, 2017You laugh but this is a serious problem. pic.twitter.com/1jGkVDGmt6  Erase Rewind (@EraseRewind1) July 13, 2017If there are people throwing 60 lbs sacks of stuff over high walls we should get them on our team.  Rich (@Argonzo) July 13, 2017So: you happen to stand next to a giant 900 mi. wall when BAM! You re hit with a 60 lb. bag of drugs tossed over this huge wall to no one??  Spooky Comet (@spookycomet) July 13, 2017one thing is right, this shit is cray  Ella s Girl (@ellasgirl7) July 13, 2017This can t possibly be real because . . . never mind. I m sorry, I forgot who we were referring to.   Kit Yona (@TheKitastrophe) July 13, 2017Wow. Vicious rivers and  cray  60-lb falling bags of heroin. Why would people stand next to the wall? Will there be a Starbucks?  Tom Brouns (@TAZMPictures) July 14, 2017Ask him to point out the  violent and vicious  rivers on a map. WTF is he talking about?  John Daws (@grajillas) July 13, 2017Who the F*ck is throwing 60lb sacks of drugs over the wall? Cause pretty sure they make some $$$ in pro sports!  R Goldman (@sttrzangel) July 14, 2017Where would Trump get the idea to tell Americans that criminals across the border are killing people with giant sacks of drugs? North Korean propaganda of course   or what seems like North Korean propaganda until you realize it s a parody account:Six innocent children killed by south Korean criminals hurling huge sacks of illegal drugs over inter-Korean demilitarized zone wall. pic.twitter.com/bfnNlBIs4e  DPRK News Service (@DPRK_News) July 13, 2017If you re thinking this is disgraceful even for Trump, you probably should be aware that we have not yet seen the depths to which he is willing to sink in his quest for power.We need to face the fact that our  President  is completely  cray  and let the GOP know they need to do their jobs and remove him from office now.featured image via Getty Images/screengrab"],
      dtype=object)

In [22]:
import re

def clean_text(text):
    text = text.lower()                            # Lowercase
    text = re.sub(r'[^a-zA-Z0-9\s]', '', text)     # Remove punctuation
    text = re.sub(r'\s+', ' ', text).strip()       # Remove extra spaces
    return text

# Apply to title and text
df['title'] = df['title'].apply(clean_text)
df['text'] = df['text'].apply(clean_text)

In [23]:
df['text_length'] = df['text'].apply(len)

In [24]:
df['word_count'] = df['text'].apply(lambda x: len(x.split()))

In [25]:
df['date'].unique()

array(['February 13, 2017', 'April 5, 2017 ', 'September 27, 2017 ', ...,
       'August 21, 2016 ', 'December 31, 2017 ', 'May 22, 2016 '],
      dtype=object)

In [26]:
# Convert 'date' column to datetime
df['date'] = pd.to_datetime(df['date'], errors='coerce')  # invalid dates become NaT

# If there are invalid date formats that turned to NaT, you can drop or fill them
df = df.dropna(subset=['date'])

In [27]:
df['date'].unique()

<DatetimeArray>
['2017-02-13 00:00:00', '2017-05-22 00:00:00', '2016-06-22 00:00:00',
 '2016-05-04 00:00:00', '2017-05-07 00:00:00', '2017-06-08 00:00:00',
 '2016-03-01 00:00:00', '2017-05-10 00:00:00', '2016-09-18 00:00:00',
 '2016-10-06 00:00:00',
 ...
 '2017-11-12 00:00:00', '2017-11-25 00:00:00', '2017-11-20 00:00:00',
 '2015-05-02 00:00:00', '2017-12-16 00:00:00', '2017-12-11 00:00:00',
 '2017-10-24 00:00:00', '2017-12-09 00:00:00', '2017-12-19 00:00:00',
 '2017-10-09 00:00:00']
Length: 757, dtype: datetime64[ns]

In [28]:
print(df.info())
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
Index: 11868 entries, 0 to 44896
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        11868 non-null  object
 1   text         11868 non-null  object
 2   subject      11868 non-null  object
 3   date         11868 non-null  datetime64[ns]
 4   label        11868 non-null  object
 5   text_length  11868 non-null  int64
 6   word_count   11868 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(4)
memory usage: 741.8+ KB
None
title          0
text           0
subject        0
date           0
label          0
text_length    0
word_count     0
dtype: int64

In [35]:
print(df['label'])

0        FAKE
3        FAKE
5        FAKE
16       FAKE
17       FAKE
         ...
44884    FAKE
44885    FAKE
44889    FAKE
44892    FAKE
44896    FAKE
Name: label, Length: 11868, dtype: object

In [36]:
# Convert 'FAKE' to 0 and 'REAL' to 1
df['label'] = df['label'].map({'FAKE': 0, 'REAL': 1})

In [37]:
df.head(5)

,title,text,subject,date,label,text_length,word_count
0,ben stein calls out 9th circuit court committe...,21st century wire says ben stein reputable pro...,US_News,2017-02-13,0,1009,170
3,oops trump just accidentally confirmed he leak...,on monday donald trump once again embarrassed ...,News,2017-05-22,0,1194,182
5,paul ryan responds to dems sitin on gun contro...,on wednesday democrats took a powerful stance ...,News,2016-06-22,0,2080,352
16,judge declares baby name illegal to prevent he...,does a judge have the right to determine what ...,left-news,2016-05-04,0,1533,277
17,paul ryan takes a monumentally humiliating pho...,politicians are all about photoops this is esp...,News,2017-05-07,0,1832,319